body{
  background-color:lightgray;
}
h1{
  font-size:60px;
  text-align:center;
}
p{
    text-align:center;
    font-size:30px;
  }
main{
  background-color:gray;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  margin-left:30%;
  margin-right:30%;
}
#survey-form{
  display:flex;
  flex-direction:column;
}
#submit{
  
  padding-top:5px;
  padding-bottom:5px;
  background-color:blue;
}